/*Responsive text size*/


@media screen and (max-width: 460px) {
    div.mobile-fondsize-11 {
        font-size: 11px;
    }
}

@media screen and (max-width: 460px) {
    div.mobile-fondsize-20 {
        font-size: 20px;
    }
}

/*Zoom picture*/
.zoom {
    margin: 2%;
    overflow: hidden;
}

.zoom img {
    max-width: 100%;
    height: auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom:hover img {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

/*Active hover dropdown*/
.dropbtn {
    background-color: #3b5998;
    color: white;
    padding: 16px;
    font-size: 16px;
}

.border-none {
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3b5998;
    min-width: 300px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #47b7e9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3b5998;
}

/*fa icons index*/
.fa-stack[data-count]:after {
    position: absolute;
    right: 0%;
    top: 1%;
    content: attr(data-count);
    font-size: 50%;
    padding: .6em;
    border-radius: 999px;
    line-height: .75em;
    color: white;
    background: rgba(255,0,0,.85);
    text-align: center;
    min-width: 2em;
    font-weight: bold;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.xeon-color {
    background-color: #3b5998;
}

.hr-xeon {
    background-color: #3b5998;
    height: 2px;
}

.hr-xeon-white {
    background-color: white;
    height: 1px;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: white;
    transition: 0.2s;
}

nav-item-test {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #3b5998;
    transition: 0.2s;
}

.nav-item:hover::after {
    width: 100%;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #fec400;
}

.dropdown-item.active, .dropdown-item:active {
    color: #938f82;
}

.dropdown-item:focus, .dropdown-item:hover {
    background: #47b7e9;
}