/* Stars raiting */
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 2.5em;
    justify-content: space-around;
    padding: 0 .4em;
    text-align: center;
    width: 4em;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
}

.star-rating :checked ~ label {
    color: #f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #fc0;
}

/*Stars raiting*/
span.stars, span.stars span {
    display: block;
    background: url('/images/rating/stars.png') 0 -16px repeat-x; width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

/*Query Autocomplete*/
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

/*Search box*/
.search-xeon {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/images/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 7px 20px 7px 40px;
}

/*Responsive text size*/
@media screen and (max-width: 460px) {
    div.mobile-fondsize-11 {
        font-size: 11px;
    }
}

@media screen and (max-width: 460px) {
    div.mobile-fondsize-20 {
        font-size: 20px;
    }
}

/*Zoom picture*/
.zoom {
    margin: 2%;
    overflow: hidden;
}

.zoom img {
    max-width: 100%;
    height: auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom:hover img {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

/*Active hover dropdown*/
.dropbtn {
    background-color: #3b5998;
    color: white;
    padding: 16px;
    font-size: 16px;
}

.border-none {
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3b5998;
    min-width: 300px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #47b7e9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3b5998;
}

/*fa icons index*/
.fa-stack[data-count]:after {
    position: absolute;
    right: 0%;
    top: 1%;
    content: attr(data-count);
    font-size: 50%;
    padding: .6em;
    border-radius: 999px;
    line-height: .75em;
    color: white;
    background: rgba(255,0,0,.85);
    text-align: center;
    min-width: 2em;
    font-weight: bold;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.xeon-color {
    background-color: #3b5998;
}

.hr-xeon {
    background-color: #3b5998;
    height: 2px;
}

.hr-xeon-white {
    background-color: white;
    height: 1px;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: white;
    transition: 0.2s;
}

.nav-item:hover::after {
    width: 100%;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #fec400;
}

.dropdown-item.active, .dropdown-item:active {
    color: #938f82;
}

.dropdown-item:focus, .dropdown-item:hover {
    background: #47b7e9;
    color: white;
    
}

.navbar-nav .nav-item .dropdown-item:hover {
    color: white !important;
}

.icon-blue {
    color: #0088cc
}

.icon-grey {
    color: grey
}

.icon {
    width: 100px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.badge-icon:after {
    content: "100";
    position: absolute;
    background: rgba(0,0,255,1);
    height: 2rem;
    top: 1rem;
    right: 1.5rem;
    width: 2rem;
    text-align: center;
    line-height: 2rem;
    ;
    font-size: 1rem;
    border-radius: 50%;
    color: white;
    border: 1px solid blue;
}

/*Vertical message menu */
.vertical-menu {
    width: 100%;
    height: 300px;
    overflow-y: auto;
}

.vertical-menu a {
    background-color: white;
    color: black;
    display: block;
    padding: 20px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #eee;
}

/*active and multilevel dropdown */
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}

.navbar-nav li:hover > div.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
    }

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

.height-300 {
    height: 300px;
}

.height-280 {
    height: 280px;
}