@{
    Layout = "~/Views/Shared/Layouts/_LayoutMiddle.cshtml";
    ViewData["Title"] = "Управление на профила";
}

<partial name="_ManageNav" />

<div class="mt-3">
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}