@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Изпращане на имейл за потвърждение</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn xeon-color text-white">Запази</button>
        </form>
    </div>
    <div class="col-md-6">
        @if (Model.Input.Name != null)
        {
            <form id="profile-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control" disabled />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.UniqueIdentifier"></label>
                    <input asp-for="Input.UniqueIdentifier" class="form-control" disabled />
                    <span asp-validation-for="Input.UniqueIdentifier" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Manager"></label>
                    <input asp-for="Input.Manager" class="form-control" disabled />
                    <span asp-validation-for="Input.Manager" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.AddressCityName"></label>
                    <input asp-for="Input.AddressCityName" class="form-control" disabled />
                    <span asp-validation-for="Input.AddressCityName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.AddressStreet"></label>
                    <input asp-for="Input.AddressStreet" class="form-control" disabled />
                    <span asp-validation-for="Input.AddressStreet" class="text-danger"></span>
                </div>
            </form>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
