<footer class="xeon-color pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row text-white">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase text-warning text-left">Xeon Cоmputers</h5>
                <p class="text-left"> В нашия сервизен магазин можете да ремонтирате вашия компютр, таблет или телефон. </p>
            </div>
            <div class="col-md-3 mb-md-0 mb-3 ">
                <h5 class="text-uppercase text-warning text-left">Общи</h5>
                <ul class="text-left">
                    @*<li>
                        <a class="text-white" asp-area="" asp-controller="Home" asp-action="About">За нас</a>
                    </li>*@
                    <li>
                        <a class="text-white" asp-area="" asp-controller="Home" asp-action="Contact">За контакти</a>
                    </li>
                    <li>
                        <a class="text-white" asp-area="" asp-controller="Home" asp-action="Delivery">Доставка</a>
                    </li>
                    <li>
                        <a class="text-white" asp-area="" asp-controller="Home" asp-action="Payments">Начини на плащане</a>
                    </li>
                    <li>
                        <a class="text-white" asp-area="" asp-controller="PartnerRequests" asp-action="Create">Партньорство</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase text-warning text-left">Контакти</h5>
                <ul class="text-left">
                    <li>
                        <p class="text-white mb-0"><i class="fas fa-phone"></i> +359 878 32 25 64</p>
                    </li>
                    <li>
                        <p class="text-white mb-0"><i class="fas fa-envelope"></i> xeon.computers.bg@gmail.com</p>
                    </li>
                    <li>
                        <p class="text-white mb-0"><i class="fab fa-skype"></i> Xeon_Computers</p>
                    </li>
                    <li>
                        <a class="text-white" href="https://www.facebook.com/Експресен-Сервиз-Компютри-1354420641314592/"><i class="fab fa-facebook-square"></i> Facebook</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="my-1" style="background:white" />
    <div class="footer-copyright text-center py-2" style="background:white">&copy; CopyRight XeonComputers 2018. Всички права запазени.</div>
</footer>