<nav class="navbar sticky-top navbar-expand-lg navbar-dark xeon-color pb-1 pt-1">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">XeonComputers</a>
        <ul class="navbar-nav mr-auto text-white">
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Начало<span class="sr-only">(current)</span></a>
            </li>
            @if (User.IsInRole(Role.Admin.ToString()))
            {
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="Administrator" asp-controller="Home" asp-action="Index"><i class="fas fa-cogs"></i> Админ панел<span class="sr-only">(current)</span></a>
                </li>
            }
        </ul>
        <partial name="~/Views/Shared/Partials/_LoginPartial.cshtml" />
    </div>
</nav>