@model CreateProductViewModel

@{
    ViewData["Title"] = "Създай продукт";
}

<h3 class="mobile-fondsize-20 text-muted text-center">@ViewData["Title"]</h3>
<hr class="w-50" />
<div class="container">
<form asp-controller="Products" asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Specification" class="control-label"></label>
        <input asp-for="Specification" class="form-control" />
        <span asp-validation-for="Specification" class="text-danger"></span>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="ParnersPrice" class="control-label"></label>
            <input asp-for="ParnersPrice" class="form-control" />
            <span asp-validation-for="ParnersPrice" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="ChildCategoryId" class="control-label"></label>
            <select asp-for="ChildCategoryId" class="form-control" asp-items="@Model.ChildCategories"></select>
        </div>
        <div class="form-group col-md-6">
            <div class="form-group">
                <label asp-for="FormImages" class="control-label"></label>
                <input asp-for="FormImages" class="form-control" multiple />
                <span asp-validation-for="FormImages" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group text-center">
        <button type="submit" value="" class="btn btn-primary">Създай продукт</button>
    </div>
</form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
