@{
    ViewData["Title"] = "Информация за доставка";
    Layout = "Layouts/_LayoutMiddle";
}

<div class="container shadow pl-4 pr-4 pb-2">
    <h2>@ViewData["Title"]</h2>
    <hr />
    <p><strong>• Работим с куриерска фирма Еконт;</strong></p>
    <p><strong>• Поръчки направени до 16:30 часа се изпълняват веднага и доставят според графика на Еконт експрес и населеното място от 1 до 3 работни дни.</strong></p>
    <p><strong>• Доставката се заплаща от купувача;</strong></p>
    <p><strong>• Използваме голямо намаление от цената на доставката;</strong></p>
    <p><strong>• Заплащането става при получаване на стоката с наложен платеж;</strong></p>
    <p><strong>• Всички пратки до офис на Еконт вече са пощенски и са на по-ниски цени 3 ÷ 4 лв;</strong></p>
    <p><strong>• Цената за доставката е 3 ÷ 4 лв. до офис на Еконт и към 5 ÷ 7 лв. до адрес;</strong></p>
    <p><strong>• Изпращаме винаги с опция за преглед на стоката преди заплащането й;</strong></p>
    <p><strong>• Можете да тествате стоката преди заплащането й пред служител на Еконт;</strong></p>
</div>