@{
    ViewData["Title"] = "Начини на плащане";
    Layout = "Layouts/_LayoutMiddle";
}

<div class="container shadow pl-4 pr-4 pb-2">
    <h2>@ViewData["Title"]</h2>
    <hr />
    <p><strong>Наложен платеж - стоките се заплащат в брой на куриера, извършващ доставката.</strong></p>
    <p><strong>ePay.bg - може да се регистрирате от <a href="https://www.epay.bg">тук</a></strong></p>
    <p><strong>EasyPay - може да видите офисите в цялата страна от <a href="https://www.easypay.bg">тук</a></strong></p>
    <p><strong>Visa, MasterCard и др.</strong></p>
    <p><strong>Всички цени са с вкл. ДДС.</strong></p>
</div>