@{
    ViewData["Title"] = "Правила за поверителност";
    Layout = "Layouts/_LayoutMiddle";
}

<h2>@ViewData["Title"]</h2>

<p>
    Използвайте тази страница, за да уточните по-подробно правилата за поверителност на вашия сайт.
</p>