@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Потвърждение за забравена парола";
}

<h2>@ViewData["Title"]</h2>
<p>
    Моля, проверете имейла си, за да зададете нова парола.
</p>