<footer class="xeon-color pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row text-white">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase text-warning text-left">Xeon Cоmputers</h5>
                @*<hr class="hr-xeon-white" />*@
                <p class="text-left"> В нашия сервизен магазин можете да ремонтирате вашия компютр, таблет или телефон. </p>
            </div>
            <div class="col-md-3 mb-md-0 mb-3 ">
                <h5 class="text-uppercase text-warning text-left">Общи</h5>
                <ul class="text-left">
                    <li>
                        <a class="text-white" href="#!">За нас</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!">Доставка</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!">Начини на плащане</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!">Отстъпки</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!">Партньорство</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase text-warning text-left">Контакти</h5>
                <ul class="text-left">
                    <li>
                        <a class="text-white" href="#!"><i class="fas fa-phone"></i> +359 882 77 22 82</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!"><i class="fas fa-envelope"></i> xeon@gmail.com</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!"><i class="fab fa-skype"></i> Skype</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!"><i class="fab fa-facebook-square"></i> facebook.xeoncomp</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="my-1" style="background:white" />
    <div class="footer-copyright text-center py-2" style="background:white">&copy; CopyRight XeonComputers 2018. Всички права запазени.</div>
</footer>