@using Microsoft.AspNetCore.Identity

@inject SignInManager<XeonUser> SignInManager
@inject UserManager<XeonUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
<ul class="navbar-nav navbar-right">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle"></i> Здравей, @UserManager.GetUserName(User)!
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="dropdown-item nav-link">Настройки</a>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="dropdown-item nav-link">Моите поръчки</a>
        </div>
    </li>
    <li class="nav-item">
        <a asp-area="Identity" asp-page="/Account/Logout" class="nav-link"><i class="fas fa-sign-out-alt"></i> Изход</a>
    </li>
</ul>
}
else
{
    <ul class="navbar-nav navbar-right">
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Register" class="nav-link"><i class="fas fa-sign-in-alt"></i> Регистрация</a>
        </li>
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Login" class="nav-link"><i class="fas fa-user"></i> Вход</a>
        </li>
    </ul>
}