@model ParentCategory[]


@foreach (var parentCategory in Model)
{
<ul class="nav flex-column" style="background-color: #e3f2fd;">
    <li class="nav-item">
        <a class="nav-link disabled font-weight-bold text-uppercase" href="#">@parentCategory.Name</a>
    </li>
    @foreach (var childCategory in parentCategory.ChildCategories)
    {
        <li class="nav-item">
            <a class="nav-link active" href="#">@childCategory.Name</a>
        </li>
    }
</ul>
}