@model ParentCategory[]


@foreach (var parentCategory in Model)
{
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link text-white xeon-color disabled font-weight-bold" href="#">@parentCategory.Name</a>
    </li>
    @foreach (var childCategory in parentCategory.ChildCategories)
    {
        <li class="nav-item">
            <a class="nav-link active" href="#">@childCategory.Name</a>
        </li>
    }
</ul>
}