<div class="row mt-3">
    <div class="col-md-3 text-center d-none d-none d-lg-block">
        <a class="" href="#"><img alt="Brand" src="~/images/xeon_logo.jpg" class="img-fluid"></a>
    </div>
    <div class="col-md-6">
        <div class="container my-2 my-lg-2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="button"><i class="fas fa-search"></i> Търсене</button>
                </span>
            </div>
        </div>
    </div>
</div>