@model ErrorViewModel
@{
    ViewData["Title"] = "Грешка";
    Layout = "Layouts/_LayoutMiddle";
}

<h2 class="text-danger">Грешка.</h2>
<h4 class="text-danger">Възникна грешка при обработката на заявката ви.</h4>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Заявка номер:</strong> <code>@Model.RequestId</code>
    </p>
}

<div class="text-center d-none d-none d-lg-block">
    <a asp-controller="Home" asp-action="Index"><img alt="Brand" src="~/images/xeon_logo.jpg" width="600" @*class="img-fluid px-2 py-2" *@></a>
</div>

<h3>Режим на разработка</h3>
<p>
    Смяна  на средата за <strong>разработка</strong> ще покаже по-подробна информация за възникналата грешка.
</p>