@{
    ViewData["Title"] = "Правила за поверителност";
    Layout = "_LayoutClean";
}

@model DateTime

<h2>@ViewData["Title"]</h2>

<p>
    Използвайте тази страница, за да уточните по-подробно правилата за поверителност на вашия сайт.
</p>


test
<h2>@Model</h2>