<p>Здравей,</p>
<p>Благодарим ти за направената поръчка!</p>
<div>
    <div class="card card-body">
        <div><strong>Име:</strong> {0}</div>
        <div><strong>Телефонен номер:</strong> {1}</div>
        <div><strong>Град:</strong> {2}, {3}</div>
        <div><strong>Адрес:</strong> {4} {5}</div>
        <div><strong>Цена:</strong> {6}лв. (В цената не е включена доставката.)</div>
    </div>
</div>